@import "tailwindcss";

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}


@media (max-width: 640px) {
    #weather-today {
        background-image: url(../assets/images/bg-today-small.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 640px) {
    #weather-today {
        background-image: url(../assets/images/bg-today-large.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}