body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #423e3e;

  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  /* box-sizing: border-box; */
  width: 30%;
  margin-inline: auto;
  padding: 6vw 10vw;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  h2 {
    font-size: 3rem;
  }

  .line {
    width: 50%;
    height: 3px;
    background-color: aliceblue;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1.2rem;
    padding: 7px 20px;
    cursor: pointer;
  }
}
